body {
    font-family: 'Open Sans Condenced';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    }
    @media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
  
.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
  
  
.company-logos div {
    display: inline;
}
.company-logos > div + div {
    margin-left: -0.75rem;
}
.company-logo{
    border-radius: 50%;
    width: 1.925rem;
    height: 1.925rem;
}

.tab-content {
    margin-top: 1.5rem;
}

.tab-content > .active {
    display: block;
}

.header-links {
    text-align: right;
}
.header-links a {
    padding-right: 7px;
}

.spinner {
    margin-top: 100px;
}